// bower:scss
// endbower

$red: #e74c3c;
$blue: #2980b9;
$green: #27ae60;
$white: white;
$orange: #e67e22;
$purple: #8e44ad;


.main-map {
  .angular-google-map-container {
    height: 400px;
  }
}
.auth-map {
  .angular-google-map-container {
    height: 500px;
  }
}
body, html {

  height: 100%;
  width: 100%;

}
.home-about-section {
	
  color: $white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $blue;

}
.home-about-icons {

  max-width: 70px;
  margin-top: 15px;

}

.home-join-section {
	
  color: $white;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $green;

}
#orangebutton {

  background-color: $orange;

}
#redbutton {

  background-color: $red;

}
#purplebutton {

  background-color: $purple;

}
.auth-form {

  margin-top: 20px;

}