<google-map center="map.center" zoom="map.zoom" draggable="true"
  options="{disableDefaultUI: true, scrollwheel: false}" class="main-map">
</google-map>

<div class="home-about-section">
  <div class="row">

    <div class="small-12 medium-4 columns">

      <img class="home-about-icons" src="/images/icon_people.png" />

      <div>Involving the community. Neighbors, groups, organizations, churches all unite to improve Los Angeles via volunteerism at various events.</div>

    </div>
    <div class="small-12 medium-4 columns">

      <img class="home-about-icons" src="/images/icon_restaurant.png" />

      <div>Restaurants can contribute any surplus food for collection and contribution to the movement, rather than discard and waste perfectly good supplements.</div>

    </div> 
    <div class="small-12 medium-4 columns">

      <img class="home-about-icons" src="/images/icon_shelter.png" />

      <div>Shelters distribute the food with the help of the application, connnecting volunteers to the workload. Food gets where it needs to go, into the mouths of the hungry.</div>

    </div>

  </div>
</div>

<div class="home-join-section">
  <div class="row">

    <div class="small-12 medium-4 columns">

      <a href="login" class="button" id="purplebutton">We're a Volunteer Group</a>

      <div>Involving the community. Social good organizations, Churches, and volunteer groups all unite to improve Los Angeles via volunteerism at various events.</div>

    </div>
    <div class="small-12 medium-4 columns">

      <a href="login" class="button" id="orangebutton">This is a Restaurant</a>

      <div>Restaurants can contribute any surplus food for collection and contribution to the movement, rather than discard and waste perfectly good supplements.</div>

    </div> 
    <div class="small-12 medium-4 columns">

      <a href="login" class="button" id="redbutton">I Represent a Shelter</a>

      <div>Shelters distribute the food with the help of the application, connnecting volunteers to the workload. Food gets where it needs to go, into the mouths of the hungry.</div>

    </div>

  </div>
</div>
