<google-map center="map.center" zoom="map.zoom" draggable="true"
  options="{disableDefaultUI: true, scrollwheel: false}" class="main-map">
  <markers models="map.orgs" coords="'location'">
  </markers>
</google-map>

<div class="home-landing-section">
  <div class="row">
    <h1>ShelterConnect is a free and open-source platform that connects
      homeless shelters with restaurants and volunteer organizations.</h1>
  </div>
</div>

<div class="home-about-section">
  <h1>How It Works</h1>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <img class="home-about-icons" src="/images/icon_people.png" />
      <h3>Volunteer Groups</h3>
      <p>Neighbors, groups, organizations, and churches unite to improve Los
      Angeles via volunteerism at various events.</p>
    </div>
    <div class="small-12 medium-4 columns">
      <img class="home-about-icons" src="/images/icon_restaurant.png" />
      <h3>Restaurants</h3>
      <p>Restaurants contribute surplus food for collection and contribution
      to the movement.</p>
    </div> 
    <div class="small-12 medium-4 columns">
      <img class="home-about-icons" src="/images/icon_shelter.png" />
      <h3>Shelters</h3>
      <p>Shelters distribute food. Food gets where it needs to go, into the
      mouths of the hungry and underserved.</p>
    </div>
  </div>
</div>

<div class="home-join-section">
  <div class="row">
    <h1>Get Involved</h1>
    <a href="/#/register" class="button outline-outward">Sign Up</a>
  </div>
</div>
